#include "Resources.rh"

// textures
ID_SURFACE_TEXTURE     DATA    "..\..\..\..\..\Common\Resources\Textures\VanGogh.bmp"
ID_SPHERE_TEXTURE      DATA    "..\..\..\..\..\Common\Resources\Textures\EarthMap.bmp"
ID_BOX_TEXTURE         DATA    "..\..\..\..\..\Common\Resources\Textures\Dice.bmp"
ID_CONE_TEXTURE        DATA    "..\..\..\..\..\Common\Resources\Textures\Stars.bmp"
ID_TORUS_TEXTURE       DATA    "..\..\..\..\..\Common\Resources\Textures\Lifeline.bmp"
ID_PARABOLA_TEXTURE    DATA    "..\..\..\..\..\Common\Resources\Textures\Plate.bmp"
ID_CYLINDER_TEXTURE    DATA    "..\..\..\..\..\Common\Resources\Textures\Tomato.bmp"
ID_PYRAMID_TEXTURE     DATA    "..\..\..\..\..\Common\Resources\Textures\Cheops.bmp"
ID_STONE_TEXTURE       DATA    "..\..\..\..\..\Common\Resources\Textures\Stone.bmp"

