// textures
ID_SURFACE_TEXTURE     RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\VanGogh.bmp"
ID_SPHERE_TEXTURE      RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\EarthMap.bmp"
ID_BOX_TEXTURE         RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\Dice.bmp"
ID_CONE_TEXTURE        RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\Stars.bmp"
ID_TORUS_TEXTURE       RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\Lifeline.bmp"
ID_PARABOLA_TEXTURE    RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\Plate.bmp"
ID_CYLINDER_TEXTURE    RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\Tomato.bmp"
ID_PYRAMID_TEXTURE     RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\Cheops.bmp"
ID_STONE_TEXTURE       RCDATA    "..\\..\\..\\..\\Common\\Resources\\Textures\\Stone.bmp"

