#include "Resources.rh"

// MD3 model. This model was created by Stefan Gustavson, available here:
// http://www.lonebullet.com/models/g/quake-3-arena-models-6622.htm?q=lara&x=0&y=0
ID_MD3_MODEL                  DATA    "..\..\..\..\..\Common\Resources\Models\md3-lara.pk3"

// shader
ID_COLOR_VERTEX_SHADER        DATA    "..\..\..\..\..\Common\Resources\Shader\color_vertex.glsl"
ID_COLOR_FRAGMENT_SHADER      DATA    "..\..\..\..\..\Common\Resources\Shader\color_fragment.glsl"
ID_TEXTURE_VERTEX_SHADER      DATA    "..\..\..\..\..\Common\Resources\Shader\texture_vertex.glsl"
ID_TEXTURE_FRAGMENT_SHADER    DATA    "..\..\..\..\..\Common\Resources\Shader\texture_fragment.glsl"

